<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fyd.monitorlogin.dao.MailDao">
    <sql id="Example_Where_Clause">
        <trim prefix="where 1=1">
            <if test="mailId!=null and mailId!=''">and mailid=#{mailId}</if>
            <if test="userId!=null and userId!=''">and userid=#{userId}</if>
            <if test="validationCode!=null and validationCode!=''">and validationcode=#{validationCode}</if>
            <if test="outTime!=null">and outtime=#{outTime}</if>
            <if test="createTime!=null">and createtime=#{createTime}</if>
        </trim>
    </sql>

    <sql id="Example_Set_Clause">
        <trim prefix="set">
            <if test="mailId!=null and mailId!=''">mailId=#{mailId},</if>
            <if test="userId!=null and userId!=''">userId=#{userId},</if>
            <if test="validationCode!=null and validationCode!=''">validationcode=#{validationCode},</if>
            <if test="outTime!=null">outtime=#{outTime},</if>
            <if test="createTime!=null">createtime=#{createTime},</if>
        </trim>
    </sql>

    <insert id="saveMail" parameterType="cn.fyd.model.Mail">
        insert into mail
        <trim prefix="(" suffix=")">
            mailid,
            <if test="userId!=null and userId!=''">userid,</if>
            <if test="validationCode!=null and validationCode!=''">validationcode,</if>
            <if test="outTime!=null">outtime,</if>createtime
        </trim> values <trim prefix="(" suffix=")">
            <choose>
                <when test="mailId!=null and mailId!=''">#{mailId,jdbcType=VARCHAR},</when>
                <otherwise>uuid(),</otherwise>
            </choose>
            <if test="userId!=null and userId!=''">#{userId,jdbcType=VARCHAR},</if>
            <if test="validationCode!=null and validationCode!=''">#{validationCode,jdbcType=VARCHAR},</if>
            <if test="outTime!=null">#{outTime,jdbcType=TIMESTAMP},</if>now()
        </trim>
    </insert>

    <select id="queryBySelective" resultType="cn.fyd.model.Mail">
        select * from mail <include refid="Example_Where_Clause" /> limit 0,1
    </select>

    <select id="queryByUserIdOrderByOutTime" resultType="cn.fyd.model.Mail">
        select * from mail where userid=#{userId, jdbcType=VARCHAR} order by outTime desc limit 0,1
    </select>
</mapper>